{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Blog Nestor</title>

    {% include 'frontend/include/head.html' %}
</head>

<body class="blog-posts sidebar-collapse">
    {% include "messages_display.html" %}

    {% include 'frontend/include/navbar.html' with brand_name='Blog Nestor' %}

    {% include 'frontend/include/header.html' with brand_name='Blog Nestor' %}

    <div class="main main-raised">
        {% block content %}{% endblock %}
    </div>
    <div class="container">
        {% block co %}{% endblock %}

    </div>

    {% include 'frontend/include/js.html' %}

    {% block extra_js %}

    {% endblock %}

</body>

</html>