{% extends 'base.html' %}

{% block content %}
<div class="section-space"></div>
<mainT>
  <div class="mainT-brand">
    <br/>
  </div>
</mainT>
<div class="main main-raised">
  <div class="container-xl">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header card-header-tf5 py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Proveedor</h6>
        <div class="dropdown no-arrow">
          <a class="text-tf3 dropdown-toggle btn-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">cached</i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Acciones:</div>
            <a class="dropdown-item" onclick="return abrir_modal('{% url 'cmp:proveedor_new' %}')" href="#"><i class="far fa-calendar-plus"></i> Nuevo</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        {% if not obj %}
        <div class="alert alert-info">No Proveedores</div>
        {% endif %}
        <table class="table table-responsive-lg table-striped table-hover dt-responsive nowrap" style="width:100%">
          <thead>
            <th>Id</th>        
            <th>Descripcion</th>
            <th>Dirección</th>
            <th>Contacto</th>
            <th>Teléfono</th>
            <th>EMail</th>
            <th>Estado</th>
            <th class="all">Acciones</th>
          </thead>
          <tbody>
            {% for item in obj%}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.descripcion }}</td>
              <td>{{item.direccion}}</td>
              <td>{{ item.contacto }}</td>
              <td>{{ item.telefono }}</td>
              <td>{{ item.email }}</td>
              <td>{{item.estado|yesno:"Activo,Inactivo"}}</td>
              <td class="td-actions">
                <div class="row-grid">
                  <button class="btn btn-warning btn-link btn-just-icon btn-sm" onclick="return abrir_modal('{% url 'cmp:proveedor_edit' item.id %}')">
                    <i class="material-icons">edit</i>
                  </button>
                </div>
                <div class="row-grid">
                  <button class="btn btn-warning btn-link btn-just-icon btn-sm" onclick="return abrir_modal('{% url 'cmp:proveedor_inactivar' item.id %}')">
                    <i class="material-icons">device_hub</i>
                  </button>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

