{% load static %}
{% load compress %}

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

<!-- Icons -->
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/themify-icons.css' %}"> <!--I-->

{% compress css %}
<link rel="stylesheet" type="text/x-scss" href='{% static "frontend/scss/admin.scss" %}' />
<link rel="stylesheet" type="text/x-scss" href='{% static "frontend/scss/color1.scss" %}' />

{% endcompress %}
<meta name="viewport" content="width=device-width, initial-scale=1">


<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

<link rel="icon" href="{% static 'frontend/my_assets/icon1.png' %}" type="image/x-icon">

<link rel="shortcut icon" href="{% static 'frontend/my_assets/icon1.png' %}" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="{% static 'frontend/my_css.css' %}" />
