{% load compress %}
{% load static %}


{% compress js %}
<script type="text/javascript" src='{% static "frontend/jquery/js/jquery-3.3.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "frontend/assets/js/menu.js" %}'></script>

<script type="text/javascript" src='{% static "frontend/assets/js/bootstrap.js" %}'></script>

<script type="text/javascript" src='{% static "frontend/assets/js/slick.js" %}'></script>

<script type="text/javascript" src='{% static "frontend/assets/js/script.js" %}'></script>


<script>

    function openSearch() {
        document.getElementById("search-overlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("search-overlay").style.display = "none";
    }
</script>

<script type="text/javascript">

    $(window).on('load', function () {
        $('#message_modal').modal('show');
    });
</script>
{% endcompress %}