{% url 'posts:list' as home_url %}
{% url 'posts:create' as new_post %}

{% url 'accounts:user_login' as login_url %}
{% url 'accounts:logout' as logout_url %}
{% url 'accounts:user_create' as register_url %}
<!-- header start -->
<!-- header start -->

{% load static %}
<header class="">
    <div class="mobile-fix-option"></div>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header-contact">
                        <ul>
                            <li>Bienvenido: {% if request.user.is_authenticated %}
                                {% if request.user.email  %}{{ request.user.email }} {% else %} {{ request.user }}
                                {% endif %}
                                {% else  %}
                                Invitado
                                {% endif %}
                            </li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>Llamanos: 5540219508</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 text-right">
                    <ul class="header-dropdown">
                        <li class="mobile-account" style="text-decoration:none">
                            <a style="text-decoration:none;color:#999" href=""><i class="fa fa-heart"
                                    aria-hidden="true"></i> wishlist</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="onhover-dropdown mobile-account"> <i class="fa fa-user" aria-hidden="true"></i>
                            {% if request.user.email  %}{{ request.user.email }} {% else %} {{ request.user }}
                            {% endif %}

                            <ul class="onhover-show-div">
                                {% if request.user.is_staff %}
                                <li><a href="" data-lng="en">Manejo de sitio</a></li>
                                {% endif %}
                                <li><a href="" data-lng="en">Profile</a></li>
                                <li><a href="{% url 'accounts:logout' %}" data-lng="es">Logout</a></li>
                            </ul>
                        </li>
                        {% else  %}
                        <li class="mobile-account"><a data-toggle="modal" data-target="#login_modal">Iniciar sesión</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu">
                    <div class="menu-left">
                        <div class="">
                            <a href="javascript:void(0)" onclick="openNav()">
                                <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i></div>
                            </a>
                            <div id="mySidenav" class="sidenav">
                                <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
                                <nav>
                                    <div onclick="closeNav()">
                                        <div class="sidebar-back text-left"><i class="fa fa-angle-left pr-2"
                                                aria-hidden="true"></i> Regreso</div>
                                    </div>
                                    <ul id="sub-menu" class="sm pixelstrap sm-vertical">
                                        <li><a target="_blank" href="https://www.facebook.com/#">Facebook</a></li>
                                        <li><a target="_blank" href="https://www.instagram.com/#">Instagram</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="brand-logo">

                            <a href="{{ home_url }}"><img src="{% static 'frontend/my_assets/logo2.png' %}"
                                    class="img-fluid  logo-x blur-up lazyload" alt=""></a>
                        </div>
                    </div>
                    <div class="menu-right pull-right">
                        <div>
                            <nav>
                                <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                <ul id="main-menu" class="sm pixelstrap sm-horizontal">

                                    <li> <a href=>Home</a></li>
                                    <li> <a href="">Tendencias</a></li>
                                    <li> <a href="">Canales</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div>
                            <div class="icon-nav">
                                <ul>
                                    <li class="onhover-div mobile-search">
                                        <div><img alt=""
                                                src="{% static 'frontend/assets/images/icon/layout4/search.png' %}"
                                                onclick="openSearch()" class="img-fluid blur-up lazyload">
                                            <i class="ti-search" onclick="openSearch()"></i>
                                        </div>
                                        <div id="search-overlay" class="search-overlay">
                                            <div> <span class="closebtn" onclick="closeSearch()"
                                                    title="Close Overlay">×</span>
                                                <div class="overlay-content">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <form action="">
                                                                    <div class="form-group">
                                                                        <input name="search_name" type="text"
                                                                            class="form-control"
                                                                            id="exampleInputPassword1"
                                                                            placeholder="Buscar">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary"><i
                                                                            class="fa fa-search"></i></button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="onhover-div mobile-cart">
                                        <div><img alt=""
                                                src="{% static 'frontend/assets/images/icon/layout4/cart.png' %}"
                                                class="img-fluid blur-up lazyload"><i class="ti-shopping-cart"></i>
                                        </div>
                                        <ul class="show-div shopping-cart">
                                            <li>
                                                <div class="total">
                                                    <h5>Total :</span></h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="buttons">
                                                    <a href="" class="view-cart">Ver</a> <a href=""
                                                        class="checkout">checkout</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="onhover-div mobile-setting">
                                        <div>
                                            <img src="{% static 'frontend/flags/el-gr.png' %}"
                                                class="img-fluid blur-up lazyloaded" alt=""> <i class="ti-flag-alt"></i>
                                        </div>
                                        <div class="show-div setting">
                                            <h6>language</h6>
                                            <ul>
                                                <li><a href="" />English</a></li>
                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>