{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class='container'>
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Crear una cuenta</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'posts:homepage' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Crea una cuenta</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!--section start-->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Llena la siguiente informacion</h3>
                <div class="theme-card">
                    <form class="theme-form" method="post">{% csrf_token %}
                       {{ form }}
                        <br> <br>
                        <button type="submit" class="btn btn-solid">Crear una cuenta</button>

                        <br>

                    </form>
                    <br><br>
                    <p>Haz clic para conectarte <a href="{% url 'accounts:user_login' %}" > aqui.</a></p>
                    <br>
                    <a style="display: inline;margin-top: 300px; " class="btn btn-solid btn-info right">facebοοκ</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock content %}