{% extends "frontend/base.html" %}
{% block content %}


<section class="ratio_square section-b-space">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="theme-tab">
                <ul class="tabs tab-title">
                    <li class="current"><a href="tab-4">ALGO</a></li>
                    <li class=""><a href="tab-6">MAIN</a></li>

                </ul>
                <div class="tab-content-cls">

                    <div id="tab-4" class="tab-content active default">
                        <div class="no-slider row">

                        </div>
                    </div>

                    <div id="tab-6" class="tab-content">
                        <div class="no-slider row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
