{% url 'posts:list' as home_url %}
{% url 'posts:create' as new_post %}

{% url 'accounts:user_login' as login_url %}
{% url 'accounts:logout' as logout_url %}
{% url 'accounts:register' as register_url %}

<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100"
    id="sectionsNav">
    <div class=" container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="{{ home_url }}">
                {% if brand_name %} {{brand_name }} {% else %} NO {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="multiDropdownMenu">
                        {% if request.user.is_authenticated %}
                        <a class="dropdown-item" href="{{ logout_url }}">Logout</a>
                        <a class="dropdown-item" href="{{ new_post }}">Nuevo post</a>
                        {% else %}
                        <a class="dropdown-item" href="{{register_url }}">Register</a>
                        <a class="dropdown-item" href="{{ login_url }}">Login</a>
                        {% endif %}
                        <a class="dropdown-item">Otro</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>