{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
<!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"        >

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/material-kit.scss' %}" />
    {% endcompress %}
  </head>
  <body>

    <div class="main">
      {% block content %}{% endblock %}
  </div>

    <script type="text/javascript" src="{% static 'js/core/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/core/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/core/bootstrap-material-design.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/material-kit.js' %}"></script>




      {% block extra_js %}
      
    <script>
      $(document).ready(function() {
        var slider2 = document.getElementById('sliderRefine');
  
        noUiSlider.create(slider2, {
          start: [101, 790],
          connect: true,
          range: {
            'min': [30],
            'max': [900]
          }
        });
  
        var limitFieldMin = document.getElementById('price-left');
        var limitFieldMax = document.getElementById('price-right');
  
        slider2.noUiSlider.on('update', function(values, handle) {
          if (handle) {
            limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
          } else {
            limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
          }
        });
      });
    </script>
    {% endblock %}

</body>
</html>